# Copy this file to .env and fill in local credentials.
S2_API_KEY_AG=
S2_API_KEY=
AZURE_OPENAI_API_KEY=
AZURE_API_BASE=https://ctonpeuaclopenai.openai.azure.com/
AZURE_API_VERSION=2025-03-01-preview
GEMINI_API_KEY_1=
GEMINI_API_KEY_2=
GEMINI_API_KEY_3=
GEMINI_API_KEY_4=
GEMINI_API_KEY_5=
